bad request from mitmdump to server (result of netlib)

**What's the problem?**
When I call ```http://www.amazon.com``` without mitmdump I get a 302 and be moved to the ssl version. But when mitmdump runs in transparent proxy mode I get a 503.

**What's expected?**
When mitmdump runs the 302 should be returned.

**Which versions are affected?**
The master version from yesterday were used.

**How to reproduce the problem?**
Run mitmdump as a transparent proxy with capturing and open http of amazon.com in a browser like firefox or internet explorer.

**Why does this happen?**
After looking at the network packages it was clear that mitmdump does not send the original request but an altered one.
After looking in detail it was clear that the ```Connection: keep-alive\r\n``` was removed and a ```Content-Length: 0\r\n``` header was added. After using netcat it was clear that the content length is the problem. Without that header the server of amazon answered in a normal way but with this the 503 error was reported.

In RFC 2616 (http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.4) it is mentioned 
```
HTTP/1.1 requests containing a message-body MUST include a valid Content-Length header field unless the server is known to be HTTP/1.1 compliant
``` 
but also
```
The presence of a message-body in a request is signaled by the inclusion of a Content-Length or Transfer-Encoding header field in the request's message-headers. A message-body MUST NOT be included in a request if the specification of the request method (section 5.1.1) does not allow sending an entity-body in requests.
```

But unfortunately I was unable to find out if a message-body in GET is allowed or not. I thought it is not but could not find any rule about it. What I found was [this post and answer](http://stackoverflow.com/questions/8540931/what-is-the-correct-content-length-to-set-for-a-get-request).

Well at least mitmdump adds an empty message-body to the request and the server of amazon and maybe a lot do not know how to handle this and sending an error instead of the 

At this point I have a question: Why are the original request are modified? The inclusion of an empty body is probably an error but I think there are other modification and that these are probably necessary.

**How could the problem be solved?**
I think mitmdump/libmproxy/netlib has problems to indicate if the request has an empty message-body or if there is simply no one. In my cases I could live with the fact that there will be no empty message-bodies in my world. 
Thus I did a workaround and modify netlib/http/http1/protocol.py and changed line 556 from
```if request.body or request.body == "": ```
to
```if (request.body or request.body == "")and(len(request.body)>0): ```
I think removing the second case should do the same trick.

It seems to me, that the error is part of netlib, thus I posted the report here. And yes I saw that the file protocol.py does not exist anymore. But I hope you may know were the code is gone and if the problem still exist.

Which exact revision are you using? I actually worked on these parts yesterday. :innocent: 

The last commits should be 2f9c566 for netlib (from 2015-09-13 12:33 UTC), f5900d1 for mitmproxy (2015-09-16 02:09 UTC) and b889e9e for pathod.

For reference, here's what I see with mitmdump:
```http
GET / HTTP/1.1
Host: www.amazon.com
User-Agent: Mozilla/5.0 (Windows NT 10.0; WOW64; rv:40.0) Gecko/20100101 Firefox/40.0
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8
Accept-Language: de,en-US;q=0.7,en;q=0.3
Accept-Encoding: gzip, deflate
If-Modified-Since: Tue, 21 Oct 2014 17:05:16 GMT
If-None-Match: "562-505f1d5d02b00-gzip"
Cache-Control: max-age=0
Content-Length: 0
```
And here's what I see without mitmdump:
```http
GET / HTTP/1.1
Host: www.amazon.com
User-Agent: Mozilla/5.0 (Windows NT 10.0; WOW64; rv:40.0) Gecko/20100101 Firefox/40.0
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8
Accept-Language: de,en-US;q=0.7,en;q=0.3
Accept-Encoding: gzip, deflate
Connection: keep-alive
If-Modified-Since: Tue, 21 Oct 2014 17:05:16 GMT
If-None-Match: "562-505f1d5d02b00-gzip"
Cache-Control: max-age=0
```

RFC7231 Section 3:

> A user agent SHOULD NOT send a Content-Length header field when the request message does not contain a payload body and the method semantics do not anticipate such a body.

Apparently Amazon treats SHOULD NOT as MUST NOT. :smirk: 


I believe this is fixed. Thanks for the report!